*{
    scroll-behavior: smooth;
}

body {
    font-family: "poppins", sans-serif;
    align-items: center;
    height: 100vh;
    margin: 0px;
    width: 100%;
    scroll-behavior: smooth;
    }

    header{
        background-image: url(img/5651978.png);
        background-color: rgba(15, 164, 233, 0.384);
        display:flex;
        padding: 1rem ;
        background-repeat: no-repeat;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        filter: drop-shadow(10px);
        /* align-items: center; */
        display: flex;
        justify-content: space-between;
    }
.nfai a{
    position:absolute;
    top: 3rem;
    left: 6rem;
}
    .container-header{
        display: flex;
        justify-content: space-between;
    }

.navbar {
    padding: 10px;
    margin: 20px;
}

.nfai a{
    color: white;
    text-decoration: none;
}
.navbar a{
    color: white;
    text-decoration: none;
}
    section{
        padding: 70px 60px;
        background-color: rgba(150, 150, 150, 0.521);
    }

.container-1{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.hero-text {
    padding: 5%;
    text-align: center;
}

.Experience {
    justify-content: center;
    padding: 10%;
    background-color: rgba(0, 255, 255, 0.315);
    background-image: url(img/5651978.png);
    box-shadow: 0 0 20px;
    background-repeat: no-repeat;
    text-align: center;
}

.Experience-box {
    padding: 10px;
    display: flex;
    gap: 20px;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.164);
    text-align: center;
}

.in-box, p-1{
    display: flex;
    text-align: right;
    padding: 10px;
}

.linklogo {
    padding: 8px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.text2{
    justify-content: center;
    display: flex;
    text-align: center;
}

.personal {
    margin-left: 2%;
    font-weight: 200;
    color: rgba(175, 19, 19, 0.692);
}

.nfai {
    margin-left: 0%;
}

.skills {
    background-image: url(img/5651978.png);
    justify-content: center;
    background-repeat: no-repeat;
    text-align: center;
}

.skills-list {
    padding: 10px;
    justify-items: center;
    flex-direction: row;
}

.sosial {
    cursor: pointer;
    justify-content: center;
    display: flex;
    gap: 5%;
}

.contact h2{
    align-items: center;
    text-align: center;
}
.contact {
    /* display: flex; */
    padding: 10px;
    justify-content: center;
    background-image: url(img/5651978.png);
    background-color: whitesmoke;
    text-align: center;
}

.contact h2{
    /* padding: 20px; */
    display: flex;
    align-items: center;
    text-align: center;
    /* margin-left: 520px; */
}

input {
    padding: 20px;
    width: 300px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-image: url(img/3847af892f23dad643ab67c20a8534ab.gif);
    width: 344px;
    color: antiquewhite;
}
.text-form{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:550px) {
    section .container-1{
        display: flex;
        flex-direction: column;
    }   
    .img-bawa {
        position: relative;
        right: 3rem;
        }
    section .Experience-box{
            display: flex;
            flex-direction: column;
    }
    .contact-text h2{
        /* align-items: center; */
        text-align: center;
    }

}